VimL:" $Id: author-doxygen.template 41 2008-02-21 00:32:16Z luc.hermitte $
VimL:" C++ Doxygen snippet for authors, Luc Hermitte
VimL: let s:value_start = '¡'
VimL: let s:value_end   = '¡'
VimL: let s:reindent = 1
¡CppDox_author()¡
