VimL:" $Id: stream-inserter.template 41 2008-02-21 00:32:16Z luc.hermitte $
VimL:" C++ stream-inserter (operator<<) Template, Luc Hermitte, 04th Jun 2004
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:direction   = 'o'
VimL: call s:Include('stream-common', 'cpp/internals')
