VimL: " $Id: get-script-kind.template 141 2009-02-19 01:59:52Z luc.hermitte $
VimL: "«Vim» Template Files tool function, Luc Hermitte
VimL: let s:ftplug = expand('%:p') =~ '/ftplugin'
VimL: let s:alplug = expand('%:p') =~ '/autoload'
VimL: let s:plugin = expand('%:p') =~ '/plugin'
